.SiteFooter {
  background-color: palette-color('background', 'dark');
  display: flex;
  flex-wrap: wrap;
  font-size: .7rem;
  line-height: 1;

  &-item {
    align-self: center;
    margin: 0 auto;
    padding: .5rem;
    text-align: center;

    @include freestyle-docs-breakpoint('large') {
      flex: 1;
      margin: 0;
      text-align: left;
    }
  }
}
