<h2>About Ember Freestyle</h2>

<h3>Getting Help</h3>

<p>
  If you have questions or just want to chat, join the
  <a href="https://embercommunity.slack.com/messages/e-freestyle/">#e-freestyle</a> channel on the
  <a href="https://ember-community-slackin.herokuapp.com">Ember Community Slack</a>.
</p>

<p>
  If you have a feature request or find a bug,
<a href="https://github.com/chrislopresto/ember-freestyle/issues">open an issue</a>.
</p>
