<div class="r-SiteIndex-tagline">
  Create a component showcase for your app
</div>
<div class="r-SiteIndex-imageContainer">
  <img src="freestyle-guide-example.png" alt="Freestyle Guide" class="r-SiteIndex-image" />
</div>
