<ul class="DocsNav-toc">
  <li class="DocsNav-section">Getting Started</li>
  <li>
    {{#link-to "docs.page" "installation" class="DocsNav-item"}}Installation{{/link-to}}
  </li>

  <li class="DocsNav-section">Anatomy</li>
  <li>
    {{#link-to "docs.page" "freestyle-guide" class="DocsNav-item"}}Freestyle Guide{{/link-to}}
  </li>
</ul>
