<div class="freestyle-guide">

  <ul class="freestyle-guide-nav">
    <li class="freestyle-guide-nav-item">
      {{#link-to (query-params section=null) class="freestyle-guide-nav-item-link"}}
        All
      {{/link-to}}
    </li>
    {{#each emberFreestyle.config.sections as |section|}}
      <li class="freestyle-guide-nav-item">
        {{#link-to (query-params section=section) class="freestyle-guide-nav-item-link"}}
          {{section}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>

  <input type="checkbox" id="freestyle-guide-nav-trigger" class="freestyle-guide-nav-trigger" />

  <div class="freestyle-guide-content">
    <label for="freestyle-guide-nav-trigger"></label>
    <span class='freestyle-guide-title'>{{emberFreestyle.config.title}}</span>

    {{yield}}
  </div>
</div>