.freestyle-guide {
  .page-content {
    padding: 20px;
  }

  .mdl-layout-title {
    padding-left: 0;
  }

  .mdl-layout__drawer-button {
    position: relative;
    margin-bottom: -30px;
    margin-left: -14px;
  }
}
