@import 'ember-freestyle';

.x-foo {
  background-color: #58504A;
  border: solid 5px #89DAFF;
  color: #DBB1BC;
  margin: 20px 0;
  padding: 20px;
  width: 200px;
}

.x-foo h1 {
  color: white;
}

body {
  font-family: sans-serif;
}

.freestyle-component {
  margin-bottom: 50px;
}

.menu {
  display: block;
}
.menu.active {
  display: none;
}
