<nav class="SiteHeader-item SiteHeader-nav">
  <ul class="SiteHeader-navList">
    <li class="SiteHeader-navListItem">
      <a class="SiteHeader-navLink" href="#">Documentation</a>
    </li>
    <li class="SiteHeader-navListItem">
      <a class="SiteHeader-navLink" href="#">About</a>
    </li>
    <li class="SiteHeader-navListItem">
      <a class="SiteHeader-navLink" href="https://github.com/chrislopresto/ember-freestyle" target="_blank">GitHub</a>
    </li>
  </ul>
</nav>
<div class="SiteHeader-item SiteHeader-logo">
  Ember Freestyle
</div>
