<div class='freestyle-palette-item'>
  <div class='freestyle-palette-item-color' style={{paletteStyle}}></div>
  <div class='freestyle-palette-item-info'>
    <p class='freestyle-palette-item-hex'>{{color.base}}</p>
    <p class='freestyle-palette-item-name'>{{color.name}}</p>
  </div>
</div>