<div class="Site">
  <header class="Site-header">
    {{site-header}}
  </header>
  <main class="Site-body">
    <article class="Site-content">
      {{outlet}}
    </article>
    <nav class="Site-nav">
      {{docs-nav}}
    </nav>
  </main>
  <footer class="Site-footer">
    {{site-footer}}
  </footer>
</div>
