<h1>Example Styleguide</h1>

{{#freestyle-container withPadding=true}}
  {{freestyle-headers}}
{{/freestyle-container}}

{{#freestyle-container withPadding=true}}
  {{freestyle-palette}}
{{/freestyle-container}}

{{#freestyle-container withPadding=true}}
  {{x-foo}}
{{/freestyle-container}}