<div class="SiteFooter-item">
    Project and site maintained by <a href="https://twitter.com/chrislopresto">Chris LoPresto</a> and
    <a href="https://github.com/chrislopresto/ember-freestyle/graphs/contributors">contributors</a>.
</div>
<div class="SiteFooter-item">
  <a class="github-button" href="https://github.com/chrislopresto/ember-freestyle" data-count-href="/chrislopresto/ember-freestyle/stargazers" data-count-api="/repos/chrislopresto/ember-freestyle#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star chrislopresto/ember-freestyle on GitHub">Star</a>
</div>
