<h4>{{description}} - {{base}}</h4>
<div class="ColorPalette">
  <div class="ColorPalette-color ColorPalette-color--primary"><div class="ColorPalette-colorVariants"></div></div>
  <div class="ColorPalette-color ColorPalette-color--accent"><div class="ColorPalette-colorVariants"></div></div>
  <div class="ColorPalette-color ColorPalette-color--secondary"><div class="ColorPalette-colorVariants"></div></div>
  <div class="ColorPalette-color ColorPalette-color--foreground"><div class="ColorPalette-colorVariants"></div></div>
  <div class="ColorPalette-color ColorPalette-color--background"><div class="ColorPalette-colorVariants"></div></div>
</div>